<c-row class="mt-3">

  <c-col md="8">

    <form (submit)="submit()" [formGroup]="infoForm" cForm>
      <!--Name & Subtitle input-->
      <c-row>
        <!--Name input-->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel class="required me-2" for="name">
            {{ 'units.create-unit.form.name-input.label'|translate }}
          </label>
          <input cFormControl formControlName="name" id="name" name="name"
                 [placeholder]="'units.create-unit.form.name-input.placeholder'|translate" type="text"/>
          @if (((infoForm.get('name')?.touched || infoForm.get('name')?.dirty))) {
            @if (infoForm.get('name')?.hasError('required')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
            }
          }
        </c-col>
        <!--Subtitle input-->
        <c-col [md]="8" sm="12" class="mb-3">
          <label cLabel for="subtitle">
            {{ 'units.create-unit.form.subtitle-input.label'|translate }}
          </label>
          <input cFormControl formControlName="subtitle" id="subtitle" name="subtitle"
                 [placeholder]="'units.create-unit.form.subtitle-input.placeholder'|translate" type="text"/>
        </c-col>
      </c-row>
      <!--Address section-->
      <c-row>
        <!--Title-->
        <h6 class="section-title underline mb-3 mt-2">{{ 'units.create-unit.form.address.title'|translate }}</h6>
        <!--street1, street2, postcode, city, country, latitude, longitude inputs-->
        <c-col md="6" formGroupName="address">
          <!--Street1 input-->
          <c-row>
            <c-col md="12" class="mb-3">
              <label cLabel class="required me-2" for="street1">
                {{ 'units.create-unit.form.address.street1-input.label'|translate }}
              </label>
              <input cFormControl formControlName="street1" id="street1" name="street1"
                     [placeholder]="'units.create-unit.form.address.street1-input.placeholder'|translate" type="text"/>
              @if (((infoForm.get('street1')?.touched || infoForm.get('street1')?.dirty))) {
                @if (infoForm.get('street1')?.hasError('required')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                }
              }
            </c-col>
          </c-row>
          <!--Street2 & postCode inputs-->
          <c-row>
            <c-col md="8" class="mb-3">
              <label cLabel for="street2">
                {{ 'units.create-unit.form.address.street2-input.label'|translate }}
              </label>
              <input cFormControl formControlName="street2" id="street2" name="street2"
                     [placeholder]="'units.create-unit.form.address.street2-input.placeholder'|translate" type="text"/>

            </c-col>

            <c-col md="4" class="mb-3">
              <label cLabel class=" me-2" for="postcode">
                {{ 'units.create-unit.form.address.postcode-input.label'|translate }}
              </label>
              <input cFormControl formControlName="postcode" id="postcode" name="postcode"
                     [placeholder]="'units.create-unit.form.address.postcode-input.placeholder'|translate" type="text"/>

            </c-col>
          </c-row>
          <!--City and Country inputs-->
          <c-row>
            <!--City input-->
            <c-col md="6" class="mb-3">
              <label cLabel class="required me-2" for="city">
                {{ 'units.create-unit.form.address.city-input.label'|translate }}
              </label>
              <input cFormControl formControlName="city" id="city" name="city"
                     [placeholder]="'units.create-unit.form.address.city-input.placeholder'|translate" type="text"/>
              @if (((infoForm.get('city')?.touched || infoForm.get('city')?.dirty))) {
                @if (infoForm.get('city')?.hasError('required')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                }
                @if (infoForm.get('city')?.hasError('noNumbers')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.no-numbers'|translate }}</c-form-feedback>
                }
              }
            </c-col>
            <!--Country input-->
            <c-col md="6" class="mb-3">
              <label cLabel class="required me-2" for="country">
                {{ 'units.create-unit.form.address.country-input.label'|translate }}
              </label>
              <app-country-select formControlName="country" id="country" [disabled]="isSubUnit"></app-country-select>
              @if (((infoForm.get('country')?.touched || infoForm.get('country')?.dirty))) {
                @if (infoForm.get('country')?.hasError('required')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                }
              }
            </c-col>
          </c-row>
          <!--Latitude & Longitude inputs-->
          <c-row>
            <c-col md="12" class="mb-3" formGroupName="location">
              <label cLabel for="latlng">
                {{ 'units.edit-unit.tabs.general-information.form.lat-lng-input.label'|translate }}
              </label>
              <c-input-group id="latlng">
                <input cFormControl formControlName="lat" id="latitude" name="latitude"
                       [placeholder]="'units.edit-unit.tabs.general-information.form.latitude-input.placeholder'|translate"
                        [disabled]="isSubUnit"/>
                <span cInputGroupText><svg [cIcon]="icons.cilLocationPin"></svg></span>
                <input cFormControl formControlName="lng" id="longitude" name="longitude"
                       [placeholder]="'units.edit-unit.tabs.general-information.form.longitude-input.placeholder'|translate"
                        [disabled]="isSubUnit"/>
              </c-input-group>
            </c-col>
          </c-row>
        </c-col>
        <!--Leaflet map section-->
        <c-col md="6">
          <div class="map-container">
            <div style="height: 100%;width: 100%;"
                 leaflet
                 [leafletOptions]="options"
                 [leafletLayers]="layers"
                 [class.disabled-map]="isSubUnit"
                 (leafletClick)="isSubUnit ? null : setMarker($event)">
            </div>
          </div>
        </c-col>
      </c-row>
      <!--Contact & Other sections-->
      <c-row>
        <!--Contact section-->
        <c-col [md]="6">
          <!--Title-->
          <h6 class="section-title underline mb-3 mt-2">{{ 'units.create-unit.form.contact.title'|translate }}</h6>
          <c-row formGroupName="contact">
            <!--Mobile input-->
            <c-col md="6">
              <label cLabel for="mobile" class="required">
                {{ 'units.create-unit.form.contact.mobile-input.label'|translate }}
              </label>
              <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [maxLength]="15"
                [phoneValidation]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Morocco"
                cssClass="form-control"
                formControlName="mobile"
                id="mobile"
                inputId="mobile"
              ></ngx-intl-tel-input>

              @if (((infoForm.get('mobile')?.touched))) {
                @if (infoForm.get('mobile')?.hasError('required')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                }
              }
            </c-col>
            <!--Email input-->
            <c-col md="6" class="mb-3">
              <label cLabel for="email">
                {{ 'units.create-unit.form.contact.email-input.label'|translate }}
              </label>
              <input cFormControl formControlName="email" id="email" name="mobile"
                     [placeholder]="'units.create-unit.form.contact.email-input.placeholder'|translate" type="text"/>
              @if (((infoForm.get('email')?.touched || infoForm.get('email')?.dirty))) {
                @if (infoForm.get('email')?.hasError('invalidEmail')) {
                  <c-form-feedback [valid]="false">{{ 'commons.errors.email'|translate }}</c-form-feedback>
                }
              }
            </c-col>
          </c-row>
        </c-col>
        <!--Other section-->
        <c-col [md]="6">
          <!--Title-->
          <h6
            class="section-title underline mb-3 mt-2">{{ 'units.edit-unit.tabs.general-information.sections.other.title'|translate }}</h6>
          <c-row>

            <c-col [md]="12">
              <label cLabel for="email">
                {{ 'units.edit-unit.tabs.general-information.sections.other.form.calendar-color-input.label'|translate }}
              </label>
              <div class="colors-wrapper">
                @for (color of calendarColors; track color) {
                  <div class="color" [style.background-color]="color" (click)="selectColor(color)"
                       [ngClass]="{'selected': infoForm.value?.calendarColor==color}"></div>
                }
              </div>
            </c-col>
          </c-row>
        </c-col>
      </c-row>

      <!--Submit button-->
      <c-row class="m-3">
        <c-col [md]="12" class="d-flex justify-content-end">
          <button cButton type="submit" size="sm">{{ 'commons.form.buttons.update'|translate }}</button>
        </c-col>
      </c-row>

    </form>

  </c-col>

  <c-col md="4">
      <app-gallery [unitId]="unitId"/>
  </c-col>

</c-row>
