<table cTable cTableColor="light" bordered [responsive]="true" class="scheduler">
    <thead>
    <tr>
        <th class="sticky-col resource-name">
            <c-input-group class="search-input">
        <span cInputGroupText>
          <svg [cIcon]="icons.cilSearch"></svg>
        </span>
                <input id="searchBar" cFormControl
                       [placeholder]="'commons.form.search-input.placeholder'|translate"/>
            </c-input-group>
        </th>
        <!-- Days Headers -->
        <th>Mon<br><small>24</small></th>
        <th>Tue<br><small>25</small></th>
        <th>Wed<br><small>26</small></th>
        <th>Thu<br><small>27</small></th>
        <th>Fri<br><small>28</small></th>
        <th>Sat<br><small>29</small></th>
        <th>Sun<br><small>30</small></th>
        <th>Mon<br><small>24</small></th>
        <th>Tue<br><small>25</small></th>
        <th>Wed<br><small>26</small></th>
        <th>Thu<br><small>27</small></th>
        <th>Fri<br><small>28</small></th>
        <th>Sat<br><small>29</small></th>
        <th>Sun<br><small>30</small></th>
        <th>Mon<br><small>24</small></th>
        <th>Tue<br><small>25</small></th>
        <th>Wed<br><small>26</small></th>
        <th>Thu<br><small>27</small></th>
        <th>Fri<br><small>28</small></th>
        <th>Sat<br><small>29</small></th>
        <th>Sun<br><small>30</small></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="sticky-col resource-name">
            <div class="d-flex align-items-center">
                <c-avatar color="primary" textColor="white" class="me-2">CUI</c-avatar>
                <div class="d-flex flex-column justify-content-center">
                    <div>something</div>
                    <div class="small text-body-secondary text-nowrap">
                        <span>something else</span>
                    </div>
                </div>
            </div>
        </td>
        <td style="position: relative" >
            <span class="price">$120</span>
            <div class="booking start" style="--span-columns: 3;">Booking for client qsdqsdqs qsdsqd  qsds</div>
        </td>
        <td style="position: relative">
            <span class="price">$120</span>
            <div class="booking middle"></div>
        </td>
        <td style="position: relative">
            <span class="price">$120</span>
            <div class="booking middle"></div>
        </td>
        <td style="position: relative">
            <span class="price">$120</span>
            <div class="booking end"></div>
            <div class="booking start" style="--span-columns: 2;">Booking for client qsdqsdqs qsdsqd  qsds</div>

        </td>
        <td style="position: relative">
            <span class="price">$120</span>
            <div class="booking middle"></div>
        </td>
        <td style="position: relative">
            <span class="price">$120</span>
            <div class="booking end"></div>

        </td>
        <td style="position: relative">
            <span class="price">$120</span>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    </tbody>

</table>
