<table class="scheduler" cTable bordered [responsive]="true" small>
  <thead>
  <tr>
    <th class="resource-col">
      <c-input-group sizing="sm" class="search-input">
        <span cInputGroupText>
          <svg [cIcon]="icons.cilSearch"></svg>
        </span>
        <input id="searchBar" cFormControl
               [placeholder]="'commons.form.search-input.placeholder'|translate"/>
      </c-input-group>
    </th>
    <!-- Days Headers -->
    <th colspan="2">Mon</th>
    <th colspan="2">Tue</th>
    <th colspan="2">Wed</th>
    <th colspan="2">Thu</th>
    <th colspan="2">Fri</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td class="resource-col bg-light fw-bold" rowspan="2">Room 101</td>
    <td class="p-2" colspan="2"></td>
    <td class="p-2" colspan="2"></td>
    <td class="p-2" colspan="2"></td>
    <td class="p-2" colspan="2"></td>
    <td class="p-2" colspan="2"></td>
  </tr>
  <tr>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
    <td class="p-2"></td>
  </tr>
  </tbody>

</table>
