div.reset-password {
  background-image: url("/assets/images/img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .content {
    backdrop-filter: blur(3px) !important;

    h4.title {
      font-weight: 600 !important;
      font-size: 1.3rem !important;
    }

    p.sub-title {
      font-weight: 400 !important;
      font-size: 0.8125rem !important;
    }

    img{
      height: 150px;
    }

    div.success-message{
      font-size: 0.9rem;
      font-weight: 400 !important;
    }

  }

}

