<div class="reset-password bg-light dark:bg-transparent  ">
  <div class=" content min-vh-100 min-vw-100 d-flex flex-row align-items-center">
    <c-container breakpoint="md">
      <c-row class="justify-content-center">
        <c-col lg="10" xl="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <h4 class="title">{{ 'authentication.reset-password.title'|translate }}</h4>
                @if (!success) {
                  <p class="sub-title">{{ 'authentication.reset-password.sub-title'|translate }}</p>
                }
                <!--Error alert-->
                <app-alert></app-alert>
                @if (!success) {
                  <form (ngSubmit)="submit()" [formGroup]="resetPasswordForm" cForm>
                    <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                      <input [placeholder]="'authentication.reset-password.form.password-input.placeholder'|translate"
                             cFormControl formControlName="password" type="password"/>
                      @if (((resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty))) {
                        @if (resetPasswordForm.get('password')?.hasError('required')) {
                          <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                        }
                        @if (resetPasswordForm.get('password')?.hasError('strongPassword')) {
                          <c-form-feedback
                            [valid]="false">{{ 'authentication.reset-password.form.password-input.errors.strong'|translate }}
                          </c-form-feedback>
                        }
                      }
                    </c-input-group>
                    <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                      <input
                        [placeholder]="'authentication.reset-password.form.confirm-password-input.placeholder'|translate"
                        cFormControl
                        formControlName="confirmPassword"
                        type="password"/>
                      @if (((resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty))) {
                        @if (resetPasswordForm.get('confirmPassword')?.hasError('required')) {
                          <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                        }
                        @if (resetPasswordForm.hasError('passwordsMismatch')) {
                          <c-form-feedback
                            [valid]="false">{{ 'authentication.reset-password.form.confirm-password-input.errors.mismatch'|translate }}
                          </c-form-feedback>
                        }
                      }
                    </c-input-group>
                    <c-row>
                      <c-col xs="6">
                        <button [disabled]="!resetPasswordForm.valid" cButton class="px-4" color="primary"
                                type="submit">
                          {{ 'authentication.reset-password.form.submit-btn'|translate }}
                        </button>
                      </c-col>
                      <c-col class="d-flex justify-content-end" xs="6">
                        <a class="px-0 text-secondary text-decoration-none small" routerLink="/login">
                          {{ 'authentication.reset-password.login-link'|translate }}
                        </a>
                      </c-col>
                    </c-row>
                  </form>
                } @else {
                  <c-row>
                    <c-col [md]="12" class="d-flex justify-content-center ">
                      <img alt="Password reset success" class="img-fluid animation-img"
                           src="assets/images/animations/check.gif"/>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col [md]="12" class="d-flex justify-content-center  text-center">
                      {{ 'authentication.reset-password.form.success'|translate }}
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col [md]="12" class="d-flex justify-content-center text-center">
                      <a class="text-decoration-none text-secondary"
                         routerLink="/login">{{ 'authentication.reset-password.login-link'|translate }}</a>
                    </c-col>
                  </c-row>
                }
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
</div>
