<!-- Modal title -->
<div class="modal-header justify-content-center align-items-center">
  <h6 class="modal-title">
    {{ 'incidents.create.title' | translate }}
  </h6>
</div>

<!-- Modal body -->
<div class="modal-body">
  <form (submit)="submit()" [formGroup]="incidentForm" cForm>
    {{incidentForm.value | json}}

    <!-- Incident Name -->
    <c-row class="mb-3">
      <c-col md="12">
        <label cLabel class="required me-2" for="incidentName">
          {{ 'incidents.create.form.incidentName.label' | translate }}
        </label>
        <input cFormControl formControlName="name" id="incidentName" type="text"
               placeholder="{{ 'incidents.create.form.incidentName.placeholder' | translate }}"/>
        @if (incidentForm.get('name')?.touched && incidentForm.get('name')?.hasError('required')) {
          <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
        }
      </c-col>
    </c-row>

    <!-- Reporter et Reviewer - 2 colonnes -->
    <c-row class="mb-3">
      <c-col md="6">
        <label cLabel class="required me-2" for="reporter">
          {{ 'incidents.create.form.reporter.label' | translate }}
        </label>
        <app-user-select
          formControlName="reporter"
          placeholder="{{ 'incidents.create.form.reporter.placeholder' | translate }}">
        </app-user-select>
        @if (incidentForm.get('reporter')?.touched && incidentForm.get('reporter')?.hasError('required')) {
          <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
        }
      </c-col>

      <c-col md="6">
        <label cLabel for="reviewer">
          {{ 'incidents.create.form.reviewer.label' | translate }}
        </label>
        <app-user-select
          formControlName="reviewer"
          placeholder="{{ 'incidents.create.form.reviewer.placeholder' | translate }}">
        </app-user-select>
      </c-col>
    </c-row>

    <!-- Select Rentals -->
    <c-row class="mb-3">
      <c-col md="12">
        <label cLabel for="rental">
          {{ 'incidents.create.form.rentals.label' | translate }}
        </label>
        <app-unit-select
          formControlName="rental" [multiple]="false" [withParent]="null" [filterByReadiness]="false">
        </app-unit-select>
      </c-col>
    </c-row>

    <!-- Severity et Status-->
    <c-row class="mb-3">
      <c-col md="6">
        <label cLabel for="severity">
          {{ 'incidents.create.form.severity.label' | translate }}
        </label>
        <ng-select id="severity"
                   appearance="outline"
                   [searchable]="false"
                   [clearable]="false"
                   [items]="severityOptions"
                   formControlName="severity"
                   placeholder="{{ 'incidents.create.form.severity.placeholder' | translate }}">
          <ng-template ng-label-tmp let-item="item">
            <span>{{ ('incidents.create.form.enums.severity.' + item) | translate }}</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <span>{{ ('incidents.create.form.enums.severity.' + item) | translate }}</span>
          </ng-template>
        </ng-select>
      </c-col>

      <c-col md="6">
        <label cLabel for="status">
          {{ 'incidents.create.form.status.label' | translate }}
        </label>
        <ng-select id="status"
                   appearance="outline"
                   [searchable]="false"
                   [clearable]="false"
                   [items]="statusOptions"
                   formControlName="status"
                   placeholder="{{ 'incidents.create.form.status.placeholder' | translate }}">
          <ng-template ng-label-tmp let-item="item">
            <span>{{ ('incidents.create.form.enums.status.' + item) | translate }}</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <span>{{ ('incidents.create.form.enums.status.' + item) | translate }}</span>
          </ng-template>
        </ng-select>
      </c-col>
    </c-row>

    <!-- Select Categories et Tags -->
    <c-row class="mb-4">
      <c-col md="6">
        <label cLabel class="required me-2" for="categories">
          {{ 'incidents.create.form.categories.label' | translate }}
        </label>
        <app-category-select
          formControlName="categories">
        </app-category-select>
        @if (incidentForm.get('categories')?.touched && incidentForm.get('categories')?.hasError('required')) {
          <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
        }
      </c-col>

      <c-col md="6">
        <label cLabel for="tags">
          {{ 'incidents.create.form.tags.label' | translate }}
        </label>
        <input cFormControl formControlName="tags" id="tags" type="text"
               placeholder="{{ 'incidents.create.form.tags.placeholder' | translate }}"/>
      </c-col>
    </c-row>

    <!-- Incident Description -->
    <c-row class="mb-3">
      <c-col md="12">
        <label cLabel for="description">
          {{ 'incidents.create.form.description.label' | translate }}
        </label>
        <textarea cFormControl formControlName="description" id="description" rows="2"
                  placeholder="{{ 'incidents.create.form.description.placeholder' | translate }}">
        </textarea>
      </c-col>
    </c-row>

    <!-- Upload Section -->
    <c-row class="mb-3">
      <c-col md="12">
        <label cLabel for="incidentImage">
          {{ 'incidents.create.form.image.label' | translate }}
        </label>
        <input id="incidentImage" type="file" (change)="onImageSelected($event)" class="form-control"
               accept="image/*" multiple/>
        <small class="text-muted">
          {{ 'incidents.create.form.image.hint' | translate }}
        </small>

        <!-- Afficher les fichiers sélectionnés -->
        @if (imageFiles.length > 0) {
          <div class="mt-2">
            <small class="text-success">{{ imageFiles.length }} image(s) selected:</small>
            <ul class="small">
              @for (file of imageFiles; track file.name) {
                <li>{{ file.name }}</li>
              }
            </ul>
          </div>
        }
      </c-col>
    </c-row>

    <!-- Modal footer -->
    <c-row class="mt-3">
      <c-col class="d-flex justify-content-end">
        <button cButton class="ms-1" color="light" size="sm" variant="ghost" (click)="closeModal()">
          {{ 'commons.form.cancel-btn' | translate }}
        </button>
        <button cButton class="ms-1" color="primary" size="sm" type="submit" [disabled]="!incidentForm.valid">
          {{ 'commons.form.save-btn' | translate }}
        </button>
      </c-col>
    </c-row>

  </form>
</div>
