<!--Modal title-->
<div class="modal-header justify-content-center align-items-center">
  <h6 class="modal-title">
    {{ 'units.create-unit.title'|translate }}
  </h6>
</div>

<!--Modal body-->
<div class="modal-body">

  <form (submit)="submit()" [formGroup]="unitForm" cForm>

    <!--Name & Subtitle input-->
    <c-row>
      <!--Name input-->
      <c-col [md]="6" sm="12" class="mb-3">
        <label cLabel class="required me-2" for="name">
          {{ 'units.create-unit.form.name-input.label'|translate }}
        </label>
        <input cFormControl formControlName="name" id="name" name="name"
               [placeholder]="'units.create-unit.form.name-input.placeholder'|translate" type="text"/>
        @if (((unitForm.get('name')?.touched || unitForm.get('name')?.dirty))) {
          @if (unitForm.get('name')?.hasError('required')) {
            <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
          }
        }
      </c-col>
      <!--Subtitle input-->
      <c-col [md]="6" sm="12" class="mb-3">
        <label cLabel for="subtitle">
          {{ 'units.create-unit.form.subtitle-input.label'|translate }}
        </label>
        <input cFormControl formControlName="subtitle" id="subtitle" name="subtitle"
               [placeholder]="'units.create-unit.form.subtitle-input.placeholder'|translate" type="text"/>
      </c-col>
    </c-row>

    <c-row class="mt-2">

      <c-col md="7">
        <h6 class="card-title mb-3">{{ 'units.create-unit.form.address.title'|translate }}</h6>

        <c-row>
          <c-col md="12" class="mb-3">
            <label cLabel class="required me-2" for="street1">
              {{ 'units.create-unit.form.address.street1-input.label'|translate }}
            </label>
            <input cFormControl formControlName="street1" id="street1" name="street1"
                   [placeholder]="'units.create-unit.form.address.street1-input.placeholder'|translate" type="text"/>
            @if (((unitForm.get('street1')?.touched || unitForm.get('street1')?.dirty))) {
              @if (unitForm.get('street1')?.hasError('required')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
              }
            }
          </c-col>
        </c-row>

        <c-row>
          <c-col md="8" class="mb-3">
            <label cLabel for="street2">
              {{ 'units.create-unit.form.address.street2-input.label'|translate }}
            </label>
            <input cFormControl formControlName="street1" id="street2" name="street2"
                   [placeholder]="'units.create-unit.form.address.street2-input.placeholder'|translate" type="text"/>

          </c-col>

          <c-col md="4" class="mb-3">
            <label cLabel class=" me-2" for="postcode">
              {{ 'units.create-unit.form.address.postcode-input.label'|translate }}
            </label>
            <input cFormControl formControlName="postcode" id="postcode" name="postcode"
                   [placeholder]="'units.create-unit.form.address.postcode-input.placeholder'|translate" type="text"/>

          </c-col>
        </c-row>

        <c-row>
          <c-col md="6" class="mb-3">
            <label cLabel class="required me-2" for="city">
              {{ 'units.create-unit.form.address.city-input.label'|translate }}
            </label>
            <input cFormControl formControlName="city" id="city" name="city"
                   [placeholder]="'units.create-unit.form.address.city-input.placeholder'|translate" type="text"/>
            @if (((unitForm.get('city')?.touched || unitForm.get('city')?.dirty))) {
              @if (unitForm.get('city')?.hasError('required')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
              }
              @if (unitForm.get('city')?.hasError('noNumbers')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.no-numbers'|translate }}</c-form-feedback>
              }
            }
          </c-col>

          <c-col md="6" class="mb-3">
            <label cLabel class="required me-2" for="country">
              {{ 'units.create-unit.form.address.country-input.label'|translate }}
            </label>
            <app-country-select formControlName="country" id="country"></app-country-select>
            @if (((unitForm.get('country')?.touched || unitForm.get('country')?.dirty))) {
              @if (unitForm.get('country')?.hasError('required')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
              }
            }
          </c-col>
        </c-row>

      </c-col>

      <c-col md="5">
        <h6 class="card-title mb-3">{{ 'units.create-unit.form.contact.title'|translate }}</h6>

        <c-row>
          <c-col [md]="6" class="mb-3 w-100">
            <label cLabel for="mobile" class="required">
              {{ 'units.create-unit.form.contact.mobile-input.label'|translate }}
            </label>
            <ngx-intl-tel-input
              [enableAutoCountrySelect]="false"
              [enablePlaceholder]="true"
              [maxLength]="15"
              [phoneValidation]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [searchCountryFlag]="true"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Morocco"
              cssClass="form-control"
              formControlName="mobile"
              id="mobile"
              inputId="mobile"
            ></ngx-intl-tel-input>

            @if (((unitForm.get('mobile')?.touched))) {
              @if (unitForm.get('mobile')?.hasError('required')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
              }
            }
          </c-col>
        </c-row>

        <c-row>
          <c-col md="12" class="mb-3">
            <label cLabel for="email">
              {{ 'units.create-unit.form.contact.email-input.label'|translate }}
            </label>
            <input cFormControl formControlName="email" id="email" name="mobile"
                   [placeholder]="'units.create-unit.form.contact.email-input.placeholder'|translate" type="text"/>
            @if (((unitForm.get('email')?.touched || unitForm.get('email')?.dirty))) {
              @if (unitForm.get('email')?.hasError('invalidEmail')) {
                <c-form-feedback [valid]="false">{{ 'commons.errors.email'|translate }}</c-form-feedback>
              }
            }
          </c-col>
        </c-row>

      </c-col>

    </c-row>

    <!--Modal footer-->
    <c-row class="mt-4">
      <c-col class="d-flex justify-content-end">
        <button cButton color="light" size="sm" variant="ghost" (click)="closeModal()">
          {{ 'commons.form.cancel-btn'|translate }}
        </button>
        <button cButton class="ms-3" color="primary" size="sm" type="submit" [disabled]="!unitForm.valid">
          {{ 'commons.form.save-btn'|translate }}
        </button>
      </c-col>
    </c-row>
  </form>

</div>
