<!-- Modal title -->
<div class="modal-header justify-content-center align-items-center">
  <h6 class="modal-title">
    {{ 'tables.create.title' | translate }}
  </h6>
</div>

<!-- Modal body -->
<div class="modal-body">
  <form (submit)="submit()" [formGroup]="tableForm" cForm>

    <!-- Rental Rate Details -->
    <h6 class="section-title underline mb-3 mt-4">{{ 'tables.create.form.details.section-title' | translate }}</h6>
    <c-row class="mb-3">
      <c-col [md]="4" sm="12" class="mb-3">
        <label cLabel class="required me-2" for="rateName">{{ 'tables.create.form.details.rateName.label' | translate }}</label>
        <input cFormControl formControlName="rateName" id="rateName" type="text"/>
        @if (tableForm.get('rateName')?.touched || tableForm.get('rateName')?.dirty) {
          @if (tableForm.get('rateName')?.hasError('required')) {
            <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
          }
        }
      </c-col>

      <c-col [md]="4" sm="12" class="mb-3">
        <label cLabel class="required me-2" for="fromDate">{{ 'tables.create.form.details.fromDate.label' | translate }}</label>
        <input cFormControl formControlName="fromDate" id="fromDate" type="date"/>
      </c-col>

      <c-col [md]="4" sm="12" class="mb-3">
        <label cLabel class="required me-2" for="untilDate">{{ 'tables.create.form.details.untilDate.label' | translate }}</label>
        <input cFormControl formControlName="untilDate" id="untilDate" type="date"/>
      </c-col>
    </c-row>

    <!-- Base Rates -->
    <h6 class="section-title underline mb-3 mt-4">{{ 'tables.create.form.rates.section-title' | translate }}</h6>

    <div formGroupName="rentalBaseRate">
      <c-row class="mb-3">
        <!-- Nightly -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel class="required me-2" for="nightly">{{ 'tables.create.form.rates.nightly.label' | translate }}</label>
          <input cFormControl formControlName="nightly" id="nightly" type="number" min="50" step="50"/>
          @if (tableForm.get('rentalBaseRate.nightly')?.touched || tableForm.get('rentalBaseRate.nightly')?.dirty) {
            @if (tableForm.get('rentalBaseRate.nightly')?.hasError('required')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
            }
            @if (tableForm.get('rentalBaseRate.nightly')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
        </c-col>

        <!-- Weekend Night -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel for="weekendNight">{{ 'tables.create.form.rates.weekendNight.label' | translate }}</label>
          <input cFormControl formControlName="weekendNight" id="weekendNight" type="number" min="50" step="50"/>
          @if (tableForm.get('rentalBaseRate.weekendNight')?.touched || tableForm.get('rentalBaseRate.weekendNight')?.dirty) {
            @if (tableForm.get('rentalBaseRate.weekendNight')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
        </c-col>

        <!-- Weekly -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel for="weekly">{{ 'tables.create.form.rates.weekly.label' | translate }}</label>
          <input cFormControl formControlName="weekly" id="weekly" type="number" min="100" step="100"/>
          @if (tableForm.get('rentalBaseRate.weekly')?.touched || tableForm.get('rentalBaseRate.weekly')?.dirty) {
            @if (tableForm.get('rentalBaseRate.weekly')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
          @if (tableForm.errors?.['weeklyLowerThanNightly']) {
            <c-form-feedback [valid]="false">
              {{ 'units.edit-unit.tabs.rates.settings.errors.weeklyLowerThanNightly' | translate }}
            </c-form-feedback>
          }
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <!-- Monthly -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel for="monthly">{{ 'tables.create.form.rates.monthly.label' | translate }}</label>
          <input cFormControl formControlName="monthly" id="monthly" type="number" min="500" step="500"/>
          @if (tableForm.get('rentalBaseRate.monthly')?.touched || tableForm.get('rentalBaseRate.monthly')?.dirty) {
            @if (tableForm.get('rentalBaseRate.monthly')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
          @if (tableForm.errors?.['monthlyLowerThanNightly']) {
            <c-form-feedback [valid]="false">
              {{ 'units.edit-unit.tabs.rates.settings.errors.monthlyLowerThanNightly' | translate }}
            </c-form-feedback>
          }
          @if (tableForm.errors?.['monthlyLowerThanWeekly']) {
            <c-form-feedback [valid]="false">
              {{ 'units.edit-unit.tabs.rates.settings.errors.monthlyLowerThanWeekly' | translate }}
            </c-form-feedback>
          }
        </c-col>

        <!-- Min Stay -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel class="required me-2" for="minStay">{{ 'tables.create.form.rates.minStay.label' | translate }}</label>
          <input cFormControl formControlName="minStay" id="minStay" type="number" min="1" placeholder="1"/>
          @if (tableForm.get('rentalBaseRate.minStay')?.touched || tableForm.get('rentalBaseRate.minStay')?.dirty) {
            @if (tableForm.get('rentalBaseRate.minStay')?.hasError('required')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.required' | translate }}</c-form-feedback>
            }
            @if (tableForm.get('rentalBaseRate.minStay')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
        </c-col>

        <!-- Max Stay -->
        <c-col [md]="4" sm="12" class="mb-3">
          <label cLabel for="maxStay">{{ 'tables.create.form.rates.maxStay.label' | translate }}</label>
          <input cFormControl formControlName="maxStay" id="maxStay" type="number" min="1" placeholder="5"/>
          @if (tableForm.get('rentalBaseRate.maxStay')?.touched || tableForm.get('rentalBaseRate.maxStay')?.dirty) {
            @if (tableForm.get('rentalBaseRate.maxStay')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
          @if (tableForm.errors?.['maxLowerThanMin']) {
            <c-form-feedback [valid]="false">
              {{ 'commons.errors.min-max-stay' | translate }}
            </c-form-feedback>
          }
        </c-col>
      </c-row>
    </div>

    <!-- Additional Guest Fee -->
    <h6 class="section-title underline mb-3 mt-4">{{ 'tables.create.form.additionalGuestFee.section-title' | translate }}</h6>

    <div formGroupName="additionalGuestFee">
      <c-row class="mb-3">
        <c-col [md]="6" sm="12" class="mb-3">
          <label cLabel for="feePPPN">{{ 'tables.create.form.additionalGuestFee.fee.label' | translate }}</label>
          <input cFormControl formControlName="feePPPN" id="feePPPN" type="number" min="10" step="10"/>
          @if (tableForm.get('additionalGuestFee.feePPPN')?.touched || tableForm.get('additionalGuestFee.feePPPN')?.dirty) {
            @if (tableForm.get('additionalGuestFee.feePPPN')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
        </c-col>

        <c-col [md]="6" sm="12" class="mb-3">
          <label cLabel for="guestCount">{{ 'tables.create.form.additionalGuestFee.guestCount.label' | translate }}</label>
          <input cFormControl formControlName="guestCount" id="guestCount" type="number" min="1"/>
          @if (tableForm.get('additionalGuestFee.guestCount')?.touched || tableForm.get('additionalGuestFee.guestCount')?.dirty) {
            @if (tableForm.get('additionalGuestFee.guestCount')?.hasError('min')) {
              <c-form-feedback [valid]="false">{{ 'commons.errors.strictly-positive' | translate }}</c-form-feedback>
            }
          }
        </c-col>
      </c-row>
    </div>

    <!-- Day Specific Pricing -->
    <h6 class="section-title underline mb-3 mt-4">{{ 'tables.create.form.daySpecific.section-title' | translate }}</h6>

    <div formArrayName="daySpecificPricings">
      <!-- Header Row -->
      <c-row class="mb-3 align-items-end">
        <c-col md="1" class="d-flex justify-content-center">
          <!-- Add Button -->
          <button
            type="button"
            class="btn btn-sm rounded-circle d-flex align-items-center justify-content-center"
            style="width: 30px; height: 30px; background-color: #af6dee ; border: none; color: white; font-size: 18px; font-weight: bold;"
            (click)="addDaySpecificPricing()">
            +
          </button>
        </c-col>

        <c-col md="2">
          <label cLabel >{{ 'tables.create.form.rates.nightly.label' | translate }}</label>
        </c-col>

        <c-col md="3">
          <label cLabel>{{ 'tables.create.form.additionalGuestFee.fee.label' | translate }}</label>
        </c-col>

        <c-col md="3">
          <label cLabel>{{ 'tables.create.form.additionalGuestFee.guestCount.label' | translate }}</label>
        </c-col>

        <c-col md="3">
          <label cLabel>{{ 'tables.create.form.daySpecific.ApplyToDays.label' | translate }}</label>
        </c-col>

      </c-row>

      <!-- Dynamic Pricing Rows -->
      <div *ngFor="let pricingGroup of daySpecificPricings.controls; let i = index" [formGroupName]="i">
        <c-row class="mb-3 align-items-center border-bottom pb-3">
          <c-col md="1" class="d-flex justify-content-center">
            <!-- Row indicator or empty space -->
            <button cButton size="sm" color="danger" class="btn-light" (click)="removeDaySpecificPricing(i)">
              <svg [cIcon]="icons.cilTrash" size="sm"></svg>
            </button>
          </c-col>

          <!-- Nightly -->
          <c-col md="2">
            <input
              cFormControl
              formControlName="nightly"
              type="number"
              min="50"
              step = "50"
              class="form-control form-control-sm"/>
          </c-col>

          <!-- PP/PN -->
          <c-col md="3">
            <input
              cFormControl
              formControlName="ppPn"
              type="number"
              min="10"
              step="10"
              class="form-control form-control-sm"/>
          </c-col>

          <!-- Guest Count -->
          <c-col md="3">
            <input
              cFormControl
              formControlName="guestCount"
              type="number"
              min="1"
              class="form-control form-control-sm"/>
          </c-col>

          <!-- Days of Week -->
          <c-col md="3">
            <ng-select
              formControlName="daysOfWeek"
              [items]="daysOfWeekOptions"
              [multiple]="true"
              bindValue="value"
              class="ng-select-sm">

              <ng-template ng-label-tmp let-item="item">
                {{ ('tables.create.form.daySpecific.days.' + item.value) | translate }}
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                {{ ('tables.create.form.daySpecific.days.' + item.value) | translate }}
              </ng-template>

            </ng-select>
          </c-col>
        </c-row>
      </div>
    </div>


    <!-- Modal Footer -->
    <c-row class="mt-3">
      <c-col class="d-flex justify-content-end">
        <button cButton class="ms-1" color="light" size="sm" variant="ghost" (click)="closeModal()">
          {{ 'commons.form.cancel-btn' | translate }}
        </button>
        <button cButton class="ms-1" color="primary" size="sm" type="submit" [disabled]="!tableForm.valid">
          {{ 'commons.form.save-btn' | translate }}
        </button>
      </c-col>
    </c-row>

  </form>
</div>

