<c-row class="mb-2">

  <!--Size select-->
  <c-col class="d-flex align-items-center gap-2">
    <span class="size-label me-3 text-muted small">Size</span>
    <c-dropdown class="text-muted small size" variant="nav-item">
      <button cButton cDropdownToggle color="link">
        25
      </button>
      <ul cDropdownMenu>
        <li >
          <button cDropdownItem>10</button>
        </li>
        <li >
          <button cDropdownItem>25</button>
        </li>
        <li >
          <button cDropdownItem>50</button>
        </li>
      </ul>
    </c-dropdown>
  </c-col>

  <!--Pagination buttons-->
  <c-col class="d-flex justify-content-end gap-2 align-items-center">
    <c-row >
      <span
        class="text-muted fst-italic small">50 of 1024</span>
    </c-row>
<!--    &lt;!&ndash;Previous button&ndash;&gt;
    <button  cButton class="pagination-btn" color="secondary"
            size="sm">
      <svg [cIcon]="icons.cilChevronLeft" size="sm"></svg>
    </button>
    &lt;!&ndash;Next button&ndash;&gt;
    <button cButton class="pagination-btn" color="secondary" size="sm">
      <svg [cIcon]="icons.cilChevronRight" size="sm"></svg>
    </button>-->
  </c-col>
</c-row>
