@let type = (unit.nature == 'MULTI_UNIT') ? 'multi-unit' : ((unit.parent) ? 'sub-unit' : 'unit');
<app-page-title *ngIf="unit" [title]="(('units.edit-unit.title.'.concat(type))|translate).concat(unit.name)">
</app-page-title>

<ul class="nav nav-underline">
  <li class="nav-item" [tooltip]="'units.edit-unit.tabs.general-information.hint'|translate" placement="auto">
    <a class="nav-link active" routerLink="basic-infos"
       routerLinkActive="active">{{ 'units.edit-unit.tabs.general-information.title'|translate }}</a>
  </li>
  <li class="nav-item" [tooltip]="'units.edit-unit.tabs.detail-information.hint'|translate" placement="auto">
    <a class="nav-link" routerLink="detail-infos"
       routerLinkActive="active">{{ 'units.edit-unit.tabs.detail-information.title'|translate }}</a>
  </li>
  @if (unit.nature != 'MULTI_UNIT') {
    <li class="nav-item" [tooltip]="'units.edit-unit.tabs.rooms-bedding.hint'|translate"
        placement="auto">
      <a class="nav-link" routerLink="bedding-rooms"
         routerLinkActive="active">{{ 'units.edit-unit.tabs.rooms-bedding.title'|translate }}</a>
    </li>
  }
  @if (unit.nature == 'MULTI_UNIT') {
    <li class="nav-item" [tooltip]="'units.edit-unit.tabs.sub-units.hint'|translate" placement="auto">
      <a class="nav-link" routerLink="sub-units"
         routerLinkActive="active">{{ 'units.edit-unit.tabs.sub-units.title'|translate }}</a>
    </li>
  }
  @if(unit.parent ==null){
    <li class="nav-item dropdown"
        [tooltip]="'units.edit-unit.tabs.rates.hint'|translate"
        placement="top"
        (mouseenter)="openDropdown = true"
        (mouseleave)="openDropdown = false"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }">
      <a routerLink="rates" class="nav-link dropdown-toggle" role="button" routerLinkActive="active">
        {{ 'units.edit-unit.tabs.rates.title'|translate }}
      </a>
      <ul class="dropdown-menu show" *ngIf="openDropdown">
        <li><a class="dropdown-item"
               [routerLink]="['rates/tables']">{{ 'units.edit-unit.tabs.rates.ratesTable.title'|translate }}</a></li>
        <li><a class="dropdown-item"
               [routerLink]="['rates/settings']">{{ 'units.edit-unit.tabs.rates.settings.title'|translate }}</a></li>
      </ul>
    </li>
  }
</ul>

<router-outlet></router-outlet>
