<ng-select (change)="valueChanged($event)"
           (scrollToEnd)="onScrollToEnd()"
           (search)="searchUnits($event)"
           [(ngModel)]="selectedUnits"
           [multiple]="multiple"
           [disabled]="disable"
           [items]="unitSearchList"
           [placeholder]="'Select units ...'"
           [typeahead]="$unitSearch"
           [virtualScroll]="true"
           class="ng-select ng-select-custom">
  <ng-template let-item="item" ng-label-tmp>
    <span>{{ item.name }}</span>
  </ng-template>

  <ng-template let-item="item" ng-option-tmp>
      <span class="d-flex flex-column">
        <span class="fw-bold">{{ item.name }}</span>
        <small class="text-muted">{{ item.subtitle }}</small>
      </span>
  </ng-template>
</ng-select>
