<form (submit)="submit()" [formGroup]="checkinForm" cForm>

  {{checkinForm.value|json}}

  <c-row>

    <c-col [md]="6">
      <!--Title-->
      <h6 class="section-title underline mb-3 mt-2">{{ 'units.edit-unit.tabs.checkin-policy.sections.checkin-times.title'|translate }}</h6>

      <c-row>

        <c-col [md]="6">
          <label cLabel class="required me-2" for="street1">
            {{ 'units.create-unit.form.address.street1-input.label'|translate }}
          </label>

          <timepicker formControlName="checkIn"></timepicker>


        </c-col>

        <c-col [md]="6">

        </c-col>


      </c-row>


    </c-col>

    <c-col [md]="6">

    </c-col>

  </c-row>

</form>


