<form cForm (submit)="submit()" [formGroup]="roomsForm">
  <c-row class="mt-3">
    <c-col [md]="12" class="d-flex justify-content-end">
      <button cButton color="secondary" size="sm" variant="outline" class="me-2" (click)="addRoom()">

        <svg [cIcon]="icons.cilPlus" size="sm" class="me-1"></svg>
        {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.add-btn'|translate }}
      </button>
      <button cButton color="primary" size="sm" class="me-2" [disabled]="!roomsForm.valid">
        {{ 'commons.form.update-btn'|translate }}
      </button>
    </c-col>
  </c-row>

  {{ roomsForm.value|json }}

  <c-row class="mt-3" formArrayName="rooms">
    <ng-container *ngFor="let room of rooms.controls;  let roomIndex = index" [formGroupName]="roomIndex">

      <c-col
        [md]="(room.get('type')?.value=='BEDROOM' || (room.get('type')?.value=='LIVING' && room.get('subType')?.value=='BED_IN_LIVING_ROOM' ))? 12: 6">
        <c-card>

          <c-card-body>
            <c-row class="mb-3">
              <c-col [md]="6" class="d-flex align-items-center">
                <h6 class="text-primary mb-0"
                    cCardTitle>{{ 'units.edit-unit.tabs.rooms-bedding.sections.room.title'|translate }}
                  {{ roomIndex + 1 }}</h6>
              </c-col>

              <c-col [md]="6" class="d-flex justify-content-end" *ngIf="roomIndex!=0">
                <button cButton size="sm" variant="outline" color="danger" (click)="removeRoom(roomIndex)"
                        type="button">
                  <svg [cIcon]="icons.cilTrash"></svg>
                </button>
              </c-col>
            </c-row>

            <c-row>
              <!--Room information section-->
              <c-col
                [md]="(room.get('type')?.value=='BEDROOM' || (room.get('type')?.value=='LIVING' && room.get('subType')?.value=='BED_IN_LIVING_ROOM' ))? 6: 12">

                <!--Name input-->
                <c-row>
                  <c-col [md]="4" class="mb-3">
                    <label cLabel for="roomName" class="required">
                      {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.name-input.label'|translate }}</label>
                    <input id="roomName" type="text" cFormControl formControlName="name"/>
                    @let nameControl = room.get('name')!;
                    @if ((nameControl.touched || nameControl.dirty) && nameControl.hasError('required')) {
                      <c-form-feedback [valid]="false">
                        {{ 'commons.errors.required' | translate }}
                      </c-form-feedback>
                    }
                  </c-col>

                  <!--Type input-->
                  <c-col [md]="4" class="mb-3">
                    <label cLabel for="roomType" class="required">
                      {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.type-input.label'|translate }}</label>
                    <select cSelect id="roomType" formControlName="type">
                      <option *ngFor="let type of roomTypes"
                              [value]="type">{{ ('units.edit-unit.tabs.rooms-bedding.sections.room.form.type-input.values.' + type)|translate }}
                      </option>
                    </select>
                    @let typeControl = room.get('type')!;
                    @if ((typeControl.touched || typeControl.dirty) && typeControl.hasError('required')) {
                      <c-form-feedback [valid]="false">
                        {{ 'commons.errors.required' | translate }}
                      </c-form-feedback>
                    }
                  </c-col>

                  <!--SubType input-->
                  @if (room.get('type')?.value && room.get('type')?.value != 'GENERAL') {
                    <c-col [md]="4" class="mb-3">
                      <label cLabel for="roomSubType" class="required">
                        {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.sub-type-input.label'|translate }}</label>
                      <select cSelect id="roomSubType" formControlName="subType">

                        <option *ngFor="let type of getRoomSubTypes(room.get('type')?.value)"
                                [value]="type">{{ ('units.edit-unit.tabs.rooms-bedding.sections.room.form.sub-type-input.values.' + type)|translate }}
                        </option>
                      </select>
                      @let subTypeControl = room.get('subType')!;
                      @if ((subTypeControl.touched || subTypeControl.dirty) && subTypeControl.hasError('required')) {
                        <c-form-feedback [valid]="false">
                          {{ 'commons.errors.required' | translate }}
                        </c-form-feedback>
                      }
                    </c-col>
                  }

                  <!--Attached Bathroom input-->
                  @if (room.get('type')?.value && (room.get('type')?.value == 'LIVING' || room.get('type')?.value == 'BEDROOM')) {
                    <c-col [md]="4" class="mb-3">
                      <label cLabel for="roomBathroom">
                        {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.bathroom-input.label'|translate|translate }}
                      </label>
                      <select cSelect id="roomBathroom" formControlName="bathroom">

                        <option *ngFor="let type of bathrooms"
                                [value]="type">{{ ('units.edit-unit.tabs.rooms-bedding.sections.room.form.sub-type-input.values.' + type)|translate }}
                        </option>
                      </select>
                    </c-col>
                  }

                  <!--Floor Size input-->
                  <c-col [md]="4" class="mb-3">
                    <label cLabel for="floor-size" class="required">
                      {{ 'commons.form.floor-size-input.label'|translate }}</label>
                    <c-input-group>
                      <input id="floor-size" cFormControl formControlName="floorSize" type="number"/>
                      <c-dropdown>
                        <button cButton cDropdownToggle color="secondary" variant="outline">
                          {{ room.get('floorSizeUnit')?.value }}
                        </button>
                        <div cDropdownMenu>
                          <button cDropdownItem *ngFor="let floorSizeUnit of floorSizeUnits"
                                  (click)="setFloorSizeUnit(floorSizeUnit, roomIndex)">
                            {{ 'commons.form.floor-size-input.values.'.concat(floorSizeUnit)|translate }}
                          </button>
                        </div>
                      </c-dropdown>
                    </c-input-group>
                    @let floorSizeControl = room.get('floorSize')!;
                    @if (((floorSizeControl?.touched || floorSizeControl?.dirty))) {
                      @if (floorSizeControl.hasError('required')) {
                        <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                      }
                    }
                  </c-col>

                  <!--Description input-->
                  <c-col [md]="12">
                    <label cLabel for="roomDescription">
                      {{ 'units.edit-unit.tabs.rooms-bedding.sections.room.form.description-input.label'|translate }}
                    </label>
                    <textarea id="roomDescription" cFormControl rows="4" formControlName="description"
                              [placeholder]="'units.edit-unit.tabs.rooms-bedding.sections.room.form.description-input.placeholder'|translate"></textarea>
                  </c-col>


                </c-row>

              </c-col>

              <!--Bedding section-->
              @if ((room.get('type')?.value == 'BEDROOM' || (room.get('type')?.value == 'LIVING' && room.get('subType')?.value == 'BED_IN_LIVING_ROOM'))) {
                <c-col [md]="6" class="bg-info bg-opacity-10 pt-3 pb-3 bedding" formArrayName="beds">

                  <c-row class="mb-3" *ngFor="let bed of roomBeds(roomIndex).controls; let bedIndex=index"
                         [formGroupName]="bedIndex">

                    <!--Type input-->
                    <c-col [md]="5">
                      <label for="bed-type" cLabel
                             class="required">{{ 'units.edit-unit.tabs.rooms-bedding.sections.bed.form.type-input.label'|translate }}</label>
                      <select cSelect id="bed-type" formControlName="type">
                        <option *ngFor="let bedType of bedTypes"
                                [value]="bedType">{{ 'units.edit-unit.tabs.rooms-bedding.sections.bed.form.type-input.values.'.concat(bedType)|translate }}
                        </option>
                      </select>
                      @let typeControl = bed.get('type')!;
                      @if ((typeControl.touched || typeControl.dirty) && typeControl.hasError('required')) {
                        <c-form-feedback [valid]="false">
                          {{ 'commons.errors.required' | translate }}
                        </c-form-feedback>
                      }
                    </c-col>

                    <!--multiplier-->
                    <c-col [md]="1">
                      <label cLabel for="staticEmail2">
                        &nbsp;
                      </label>
                      <input [plaintext]="true" cFormControl readonly type="text" value="X"
                             style="text-align: center;"/>
                    </c-col>

                    <!--Quantity input-->
                    <c-col [md]="4">
                      <label for="bed-quantity" cLabel
                             class="required">{{ 'units.edit-unit.tabs.rooms-bedding.sections.bed.form.quantity-input.label'|translate }}</label>
                      <input type="number" cFormControl formControlName="quantity" name="bed-quantity"/>
                      @let quantityControl = bed.get('quantity')!;
                      @if ((quantityControl.touched || quantityControl.dirty) && quantityControl.hasError('required')) {
                        <c-form-feedback [valid]="false">
                          {{ 'commons.errors.required' | translate }}
                        </c-form-feedback>
                      }
                    </c-col>

                    <!--Remove button-->
                    <c-col [md]="2">
                      <label cLabel for="staticEmail2" class=" d-block">
                        &nbsp;
                      </label>
                      <button cButton color="danger" variant="outline" type="button"
                              (click)="removeBed(roomIndex, bedIndex)">
                        <svg [cIcon]="icons.cilX" class="me-1"></svg>
                        {{ 'commons.form.buttons.delete'|translate }}
                      </button>
                    </c-col>


                  </c-row>

                  <c-row>
                    <c-col [md]="12">
                      <button cButton size="sm" type="button" (click)="addBed(roomIndex)">
                        <svg [cIcon]="icons.cilPlus" size="sm" class="me-1"></svg>
                        {{ 'units.edit-unit.tabs.rooms-bedding.sections.bed.form.add-btn'|translate }}
                      </button>
                    </c-col>
                  </c-row>
                </c-col>
              }
            </c-row>
          </c-card-body>
        </c-card>
      </c-col>

    </ng-container>
  </c-row>
</form>
