<c-row>
  @if (!imageLoaded) {
    <c-col [md]="12">
      <div class="d-flex justify-content-center mt-5">
        <span>Loading...</span>
      </div>
    </c-col>
  } @else if (imageUrl) {
    <c-col [md]="12" class="position-relative">
      <div class="image-wrapper position-relative">
        <img [src]="imageUrl" alt="Document Image" class="img-fluid rounded shadow w-100"/>
        <div class="image-overlay d-none d-flex justify-content-center align-items-center">
          <button class="btn btn-danger btn-lg" title="Delete" type="button"
                  (click)="confirmImageDeletion()"><i class="bi bi-trash"></i>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 mb-3">
        <button class="btn btn-outline-secondary w-75" (click)="fileInput.click()">
          <i class="bi bi-upload me-2"></i> {{ 'documents.edit.gallery.replace-btn' | translate }}
        </button>
        <input #fileInput type="file" (change)="onFileSelected($event)" hidden />
      </div>
    </c-col>

  } @else {
    <c-col [md]="12">
      <label class="upload-placeholder-first w-100 mb-3">
        <input type="file" (change)="onFileSelected($event)" hidden />
        <div class="image-wrapper d-flex flex-column align-items-center justify-content-center text-center">
          <img class="img-fluid" src="assets/images/animations/image-placeholder.gif" alt="">
          <span class="text-info-emphasis">
            {{ 'documents.edit.gallery.upload-btn' | translate }}
          </span>
        </div>
      </label>
    </c-col>
  }
</c-row>
