<section class="container-fluid">
  <c-row class="no-gutter">
    <c-col [md]="5" [lg]="7" class="d-none d-md-flex justify-content-center align-items-center cover">
      <img src="../../../../assets/images/img.png" class="img-fluid" alt="">
    </c-col>

    <c-col [md]="7" [lg]="5" class="login d-flex align-items-center py-5">

      <c-row class="container">

        <c-col [md]="9" [lg]="8" class="mx-auto">

          <div class="login-title text-center mb-5">
            <h1 class="text-primary">Āstay</h1>
            <h6 class="text-info">{{ 'authentication.login.sub-title.text-1'|translate }} <span
              class="xstay-char">x</span> {{ 'authentication.login.sub-title.text-2'|translate }}</h6>
          </div>

          @if (!success) {
            <div class="jumbotron">
              <h4 class="title">{{ 'authentication.forgot-password.title'|translate }}</h4>
              <p class="sub-title mb-4 text-muted">{{ 'authentication.forgot-password.sub-title'|translate }}</p>
            </div>

            <app-alert></app-alert>

            <form cForm (ngSubmit)="submit()" [formGroup]="forgotPasswordForm">
              <!--Email input-->
              <div [cFormFloating]="true">
                <input cFormControl id="floatingInput" placeholder="jhondoe@domain.com" type="email"
                       formControlName="email"/>
                <label cLabel for="floatingInput">{{ 'authentication.login.form.email-input.label'|translate }}</label>
                @if (((forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty))) {
                  @if (forgotPasswordForm.get('email')?.hasError('required')) {
                    <c-form-feedback [valid]="false">{{ 'commons.errors.required'|translate }}</c-form-feedback>
                  }
                  @if (forgotPasswordForm.get('email')?.hasError('invalidEmail')) {
                    <c-form-feedback [valid]="false">{{ 'commons.errors.email'|translate }}</c-form-feedback>
                  }
                }
              </div>

              <!--Submit button-->
              <div class="d-grid gap-2 ms-5 me-5 mt-4">
                <button cButton color="primary" type="submit"
                        [disabled]="!forgotPasswordForm.valid">{{ 'authentication.login.form.submit-btn'|translate }}
                </button>
              </div>
            </form>
            <div class="d-grid gap-2 ms-5 me-5 mt-2 text-center">
              <a class="text-decoration-none text-secondary small" routerLink="/login">
                {{ 'authentication.forgot-password.login-link'|translate }}
              </a>
            </div>
          } @else {
            <div class="d-flex justify-content-center">
              <img src="assets/images/animations/send-email.gif" class="img-fluid send-email"
                   alt="">
            </div>
            <div class="text-center success-message">
              {{ 'authentication.forgot-password.form.success'|translate }}
            </div>
            <div class="d-grid gap-2 ms-5 me-5 mt-2 text-center">
              <a class="text-decoration-none text-secondary small" routerLink="/login">
                {{ 'authentication.forgot-password.login-link'|translate }}
              </a>
            </div>
          }
        </c-col>
      </c-row>
    </c-col>

  </c-row>

</section>
