@use "variables" as vars;

label.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: vars.$gray;

  &.required:after {
    content: " *";
    color: vars.$danger;
  }
}

.form-control:focus, .form-check-input:focus {
  box-shadow: none;
}

.form-control {
  border-color: var(--cui-border-color);
  color: var(--cui-body-color);
  font-weight: 350;
}

.invalid-feedback {
  display: block;
  color: vars.$danger !important;
  font-size: 0.8rem;

}

button.btn {
  &.btn-ghost-light {
    color: vars.$body-color;
  }
}

.search-input {
  border: 1px solid #e2e6f1;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 0.25rem;

  &:focus-within{
    border-color: #accdff !important;
  }

  span.input-group-text {
    background-color: white;
    border: none;
  }
  input{
    border: none;
    outline: none;
  }
}

.iti {
  width: 100%;
}
