$primary: #589bff;
$secondary: #af6dee;
$info: #478bf3;
$success: #28d685;
$warning: #fea459;
$danger: #f95050;
$light: #f7f7f9;
$dark: #0a0a0a;
$border-color: #e2e6f1;
$body-color: #010101;
$gray: #7c7c7c;

$primary01: #e7f1ff;
$secondary01: #f4e8fb;
$success01: #e3faed;
$danger01: #ffe6e5;
$warning01: #fef1e7;
$info01: #e4edfe;
$dark01: #0a0a0a1a;
